{% extends 'base.html' %}

{% block content %}




{% if email %}
{% if passed %}
    <h4>email : {{pw_to_find.email}}</h4>
    <h4>password : {{pw_to_find.password_hash}}</h4>
    {% else %}
    <h1>error please enter correct password!!!</h1>
{% endif %}
{% else %}
    <h1>check password</h1>
    <br>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.email.label(class="form-label")}}
        {{ form.email(class="form-control",placeholder="email") }}
        <br><br>
        {{ form.password.label(class="form-label")}}
        {{ form.password(class="form-control",placeholder='password') }}<br><br>
        {{ form.submit( class="btn btn-secondary")}}
    </form>


{% endif %}
{% endblock %}
